<section id="videos">
{{#if kids}}
	<h1> HEY KID, ARE YOU READY FOR SOME FUN??</h1>
{{else}}
	<h1> HELLO BUDDY, NICE TO SEE YOU!</h1>
{{/if}}

<div v-if="default_video" id="video-default-container">
<video width="420" height="300" controls>
  <source v-if="default_video" :src="/videos/ + default_video" type="video/mp4">
</video>
</div>


<div class="container">
	<div id="filter-div" class="row">
		<div class="col-6">
			<h5>Filtering Content by: ${actual_genre}</h5>
		</div>
		<genre-select :genres='genres' @filter='reloadMovies'></genre-select>
	</div>
	
	<div id="content-div" class="container">
		<div class="thumbnail" v-for="movie in movies">
			<a @click="setMovie" :href="movie.id" data-target="slide-out" class="sidenav-trigger"><img :src="/images/ + movie.thumbnail"></a>
			<h5>${movie.name}</h5> 
		</div>
	</div>


	<!--aside-->
	<ul id="slide-out" class="sidenav">
    <li>
		<div id="side_title">
			<h5>${actual_movie.name}</h5>
			<video :src="/videos/ + actual_movie.video" controls width="300" height="200">
			</video>
		</div>
	</li>
	<li>
		<div v-if='mean_rate' id="side_rating">
			<h5>Rating</h5>
			<div class="stars_container">
			<label v-for="n in mean_rate">★</label>
			</div>
		</div>
		<div id="side_social">
			<h5>Share</h5>
			<div class="container">
				<social-sharing 
					  :url="actual_movie.facebook"
                      :title="actual_movie.name"
                      :description="actual_movie.description"
                      :quote="actual_movie.description"
                      :hashtags="actual_movie.name"
					  :twitter-user="actual_movie.twitter"
                      inline-template>
					<div>
						<network network="facebook">
							<img class="z-depth-2 tooltipped" data-position="top" data-tooltip="Share on Facebook!" src="/images/facebook.svg">
						</network>
						<network network="twitter">
							<img class="z-depth-2 tooltipped" data-position="top" data-tooltip="Share on Twitter!" src="/images/twitter.svg">
						</network>
					</div>
				</social-sharing>
				<div 
					class="fb-like" 
					:data-href="actual_movie.website" 
					data-layout="button" 
					data-action="like" 
					data-size="small" 
					data-show-faces="true" 
					data-share="false">
				</div>
			</div>
		</div>
	</li>
	<li>
		<a class="waves-effect waves-light btn" :href="/videos/ + dir + '/' + actual_movie.id"><i class="material-icons right">arrow_forward</i>Go to details</a>
	</li>
  	</ul>
</div>
</section>